* {
	
}
html {
	background: rgb(245, 240, 235); margin: 0px; padding: 0px; width: 100%; height: 100%; color: rgb(46, 44, 42); -webkit-text-size-adjust: 100%;
}
body {
	background: rgb(245, 240, 235); margin: 0px; padding: 0px; width: 100%; height: 100%; color: rgb(46, 44, 42); -webkit-text-size-adjust: 100%;
}
canvas {
	margin: 0px; float: left; display: block; position: relative;
}
em {
	font-style: italic;
}
#header {
	background: rgb(46, 44, 42); margin: 0px 0px 40px; left: 0px; height: 59px; text-align: center; z-index: 100;
}
#nav {
	text-align: left; display: inline-block; position: relative;
}
#nav ul {
	padding: 25px 0px 0px; height: 34px;
}
#nav li a {
	font: 600 11px/28px "Open Sans", sans-serif; height: 28px; color: rgb(172, 171, 171); text-decoration: none; display: block; font-size-adjust: none; font-stretch: normal;
}
#nav li {
	padding: 0px 14px; float: left; display: block; cursor: pointer;
}
#nav li:hover a {
	color: rgb(245, 240, 235);
}
#nav li.selected a {
	color: rgb(245, 240, 235);
}
#nav a#logo {
	background: url("http://static.rallyinteractive.com/img/logo.png"); left: -61px; top: 18px; width: 61px; height: 58px; text-indent: -9999px; display: block; position: absolute;
}
#underline {
	background: rgb(245, 240, 235); left: 0px; width: 0px; height: 5px; bottom: 0px; position: absolute;
}
#footer {
	background: rgb(46, 44, 42); left: 0px; height: 40px; text-align: center; right: 0px; bottom: 0px; position: fixed; z-index: 10;
}
#footer p {
	font: 400 12px/40px "Open Sans", sans-serif; color: rgb(172, 171, 171); font-size-adjust: none; font-stretch: normal;
}
#footer em {
	font: italic 800 12px/40px "Open Sans", sans-serif; font-size-adjust: none; font-stretch: normal;
}
#footer #top {
	background: url("http://static.rallyinteractive.com/img/top.png"); margin: 6px 0px 0px; width: 81px; height: 28px; text-indent: -9999px; display: none; opacity: 0;
}
#footer .left {
	left: 0px; position: absolute;
}
#footer .left p {
	padding: 0px 14px 0px 12px; float: left;
}
#footer ul#share {
	padding: 6px 0px 0px;
}
#footer ul#share {
	float: left;
}
ul#share li {
	float: left;
}
#footer ul#share a {
	background: url("http://static.rallyinteractive.com/img/sprite-share.png"); margin: 0px 2px 0px 0px; width: 28px; height: 28px; text-indent: -9999px; display: block;
}
#footer ul#share li.tweet a {
	background-position: 0px 0px;
}
#footer ul#share li.share a {
	background-position: 0px -28px;
}
#footer .right {
	top: 0px; right: 0px; position: absolute;
}
#footer .right p {
	padding: 0px 10px 0px 0px; float: left;
}
#footer .right p {
	float: left;
}
#footer .right iframe {
	float: left;
}
#footer .right iframe {
	margin: 10px 0px 0px;
}
#footer iframe.twitter-follow-button {
	width: 140px !important;
}
#footer iframe.twitter-share-button {
	width: 110px !important;
}
#footer #webby {
	font: bold 10px/40px Helvetica, Arial, sans-serif; padding: 0px 10px 0px 0px; color: rgb(245, 240, 235); text-transform: uppercase; float: left; display: block; font-size-adjust: none; font-stretch: normal;
}
.intro {
	text-align: center; overflow: hidden;
}
.intro p {
	font: bold 14px/20px Helvetica, Arial, sans-serif; margin: -8px 0px 0px; padding: 0px 10px 26px; text-align: center; font-size-adjust: none; font-stretch: normal;
}
.intro h1 {
	background: rgb(245, 240, 235); font: bold 64px/93px Helvetica, Arial, sans-serif; padding: 0px 10px; letter-spacing: -3px; display: inline-block; font-size-adjust: none; font-stretch: normal;
}
#arrows {
	background: url("http://static.rallyinteractive.com/img/line.png") repeat-x; margin: 0px 0px 0px -400px; left: 50%; width: 800px; height: 93px; position: absolute;
}
#arrows a#back {
	background: url("http://static.rallyinteractive.com/img/arrow.png") -2px -2px; top: 16px; width: 58px; height: 0px; overflow: hidden; padding-top: 58px; display: block; position: absolute; z-index: 10;
}
#arrows a#next {
	background: url("http://static.rallyinteractive.com/img/arrow.png") -2px -2px; top: 16px; width: 58px; height: 0px; overflow: hidden; padding-top: 58px; display: block; position: absolute; z-index: 10;
}
#arrows a#back {
	left: -65px;
}
#arrows a#next {
	right: -65px; transform: scaleX(-1); -moz-transform: scaleX(-1); -o-transform: scaleX(-1); -webkit-transform: scaleX(-1);
}
#arrows .disabled {
	cursor: default; opacity: 0.4;
}
ul#titles {
	width: 800px; position: absolute;
}
ul#titles li {
	background: rgb(245, 240, 235); font: bold 24px/93px Helvetica, Arial, sans-serif; padding: 0px 5px; right: -5px; letter-spacing: -1px; display: none; position: absolute; font-size-adjust: none; font-stretch: normal;
}
.page {
	padding: 0px; left: 0px; text-align: center; right: 0px; margin-left: -9999px; position: absolute;
}
.page .content {
	padding: 0px 0px 20px; display: inline-block;
}
#clients img {
	margin: 0px; display: block;
}
#clients h1 img {
	vertical-align: bottom; display: inline;
}
#clients .content {
	height: 53px;
}
#contact .content {
	text-align: left;
}
#contact .content h2 {
	font: bold 22px/36px Helvetica, Arial, sans-serif; font-size-adjust: none; font-stretch: normal;
}
#contact .content a {
	font: italic bold 14px/14px Helvetica, Arial, sans-serif; color: rgb(146, 142, 137); font-size-adjust: none; font-stretch: normal;
}
#contact .content a:hover {
	color: rgb(0, 0, 0);
}
#contact #newBusiness {
	float: left;
}
#contact #stalk {
	float: left;
}
#contact #newBusiness {
	padding: 0px 38px 0px 0px;
}
#contact li {
	float: left;
}
#contact li a {
	margin: 0px 5px 0px 0px; height: 17px; text-indent: -9999px; display: block;
}
#contact li#talkTweet a {
	background: url("http://static.rallyinteractive.com/img/sprite-twitter.png") -2px -82px; width: 27px;
}
#contact li#talkShare a {
	background: url("http://static.rallyinteractive.com/img/sprite-share.png") -22px -122px; width: 17px;
}
#contact li a:hover {
	background-position: 0px -24px;
}
#about #overview {
	padding: 0px 0px 20px; width: 771px; text-align: left; overflow: hidden;
}
#about2 #overview {
	padding: 0px 0px 20px; width: 771px; text-align: left; overflow: hidden;
}
#about #overview p {
	font: 12px/20px Helvetica, sans-serif; text-align: justify; font-size-adjust: none; font-stretch: normal;
}
#about2 #overview p {
	font: 12px/20px Helvetica, sans-serif; text-align: justify; font-size-adjust: none; font-stretch: normal;
}
#about #overview h3 {
	background: url("http://static.rallyinteractive.com/img/hr.png") repeat-x center; font: bold 30px/30px Helvetica, Arial, sans-serif; margin: 0px 0px 14px; letter-spacing: -1px; font-size-adjust: none; font-stretch: normal;
}
#about2 #overview h3 {
	background: url("http://static.rallyinteractive.com/img/hr.png") repeat-x center; font: bold 30px/30px Helvetica, Arial, sans-serif; margin: 0px 0px 14px; letter-spacing: -1px; font-size-adjust: none; font-stretch: normal;
}
#about #overview h3 span {
	background: rgb(245, 240, 235); padding: 0px 6px 0px 0px;
}
#about2 #overview h3 span {
	background: rgb(245, 240, 235); padding: 0px 6px 0px 0px;
}
#about #overview div {
	width: 375px; float: left;
}

#about2 #overview div {
	width: 375px; float: left;
}
#about #overview #why {
	padding: 0px 20px 0px 0px;
}
#about2 #overview #why {
	padding: 0px 20px 0px 0px;
}
#about #stats {
	padding: 0px 0px 36px; height: 165px; position: relative;
}
#about2 #stats {
	padding: 0px 0px 36px; height: 165px; position: relative;
}
#about #stats img {
	display: block; position: absolute;
}
#about2 #stats img {
	display: block; position: absolute;
}
#about #stats img#statsDark {
	opacity: 0;
}
#about2 #stats img#statsDark {
	opacity: 0;
}
#about #stats p {
	font: bold 140px/140px Helvetica, Arial, sans-serif; letter-spacing: -4px; position: absolute; font-size-adjust: none; font-stretch: normal;
}
#about2 #stats p {
	font: bold 140px/140px Helvetica, Arial, sans-serif; letter-spacing: -4px; position: absolute; font-size-adjust: none; font-stretch: normal;
}
#about #stats p#statsPersons {
	left: 25px;
}
#about2 #stats p#statsPersons {
	left: 25px;
}
#about #stats p#statsDirect {
	left: 288px;
}
#about2 #stats p#statsDirect {
	left: 288px;
}
#about #stats p#statsPartnerships {
	left: 566px;
}
#about2 #stats p#statsPartnerships {
	left: 566px;
}



#home .content {
	display: none;
}
#filters {
	background: url("http://static.rallyinteractive.com/img/bar.png"); margin: 0px 0px 40px; height: 38px;
}
#filters p {
	background: rgb(245, 240, 235); font: italic bold 12px/38px Helvetica, Arial, sans-serif; padding: 0px 5px; color: rgb(146, 142, 137); float: left; font-size-adjust: none; font-stretch: normal;
}
#filtersInner {
	margin: 0px auto; width: 920px;
}
#triangles {
	background: url("http://static.rallyinteractive.com/img/triangles-bg.png"); padding: 0px 0px 80px; position: relative; z-index: 5;
}
#trianglesInner {
	margin: 0px auto; width: 1200px; overflow: hidden;
}
.huge #trianglesInner {
	width: 1200px;
}
.big #trianglesInner {
	width: 800px;
}
.medium #trianglesInner {
	width: 800px;
}
.small #trianglesInner {
	width: 320px;
}
.small #trianglesInner canvas {
	margin: 0px 0px 0px -40px;
}
.small #about #overview {
	width: 300px;
}
.small #about2 #overview {
	width: 300px;
}

.small #about #overview div {
	width: 300px; float: none;
}
.small #about2 #overview div {
	width: 300px; float: none;
}
.small #about #overview #why {
	padding: 0px 0px 20px;
}
.small #about2 #overview #why {
	padding: 0px 0px 20px;
}
.small #about #stats {
	display: none;
}
.small #about2 #stats {
	display: none;
}
.medium .intro h1 {
	font: bold 54px/93px Helvetica, Arial, sans-serif; font-size-adjust: none; font-stretch: normal;
}
.small .intro h1 {
	font: bold 38px/64px Helvetica, Arial, sans-serif; letter-spacing: -1px; font-size-adjust: none; font-stretch: normal;
}
.small #footer .right {
	display: none;
}
.small #footer #top {
	display: none !important;
}
.noFixed#footer {
	position: relative !important;
}
.giant #arrows {
	margin: 0px 0px 0px -400px; width: 800px;
}
.big #arrows {
	margin: 0px 0px 0px -400px; width: 800px;
}
.medium #arrows {
	margin: 0px 0px 0px -235px; width: 470px;
}
.small #arrows {
	display: none;
}
.giant ul#titles {
	width: 800px;
}
.big ul#titles {
	width: 800px;
}
.medium ul#titles {
	display: none;
}
.small ul#titles {
	display: none;
}


#clients #logosSmall {
	display: none;
}
.small #clients #logosBig {
	display: none;
}
.small #clients #logosSmall {
	display: block;
}
.small #clients .content {
	height: 163px;
}
.small #clients h1 img {
	width: 26px; height: 32px; vertical-align: middle !important;
}
.giant #filtersInner {
	width: 920px;
}
.big #filtersInner {
	width: 800px;
}
.medium #filtersInner {
	width: 800px;
}
.small #filtersInner {
	width: 320px;
}
.small #nav a#logo {
	left: 50%; top: 5px; margin-left: -30px;
}
.small #header {
	background: rgb(46, 44, 42); margin: 0px 0px 40px; height: 89px; text-align: center;
}
.small #nav ul {
	padding: 55px 0px 0px; height: 34px;
}
.small .intro p {
	font: bold 14px/20px Helvetica, Arial, sans-serif; font-size-adjust: none; font-stretch: normal;
}
.small #contact .content h2 {
	font: bold 18px/28px Helvetica, Arial, sans-serif; font-size-adjust: none; font-stretch: normal;
}
.small #contact .content a {
	font: italic bold 12px/12px Helvetica, Arial, sans-serif; font-size-adjust: none; font-stretch: normal;
}
.small #contact #newBusiness {
	padding: 0px 28px 0px 0px;
}
